<head>
    <title>Nanotwitter | Explore</title>
</head>

<div class="expl-main-container">
    <div class="expl-left-col">
        <div class="expl-search-container">
            <div class="expl-search-firstrow">
                <div class="expl-first-row-label">
                    <span>Explore</span>
                </div>
            </div>
            <div class="expl-search-secondrow">
                <div class="expl-second-row-img-container">
                    <img class="expl-twitterlogo" src="twitterlogo.png"/>
                </div> 
                <div class="expl-second-row-search-container">
                    <input class="expl-second-row-searchinput" placeholder="Search">
                </div>
            </div>
            <div class="expl-search-thirdrow">
                <div class="expl-search-button-container">
                    <button class="expl-search-button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="expl-right-col">
    </div>
</div>