<head>
    <title>Nanotwitter | Followers</title>
    <link rel="stylesheet" type="text/css" href="/styles/user.css">
</head>

<div class="content">
        <% flash.keys.each do |type|%>
            <div class="alert alert-<%=type%>">
                <%= flash[type]%>
            </div>
        <% end%>
    <h1> <%= session[:user]["username"]%> Followers</h1>
    <br>
       <% @followers_list.each do |follower_obj| %>
         <p>This is a follower</p>
         <p><%= follower_obj["fan_displayname"] %></p>
       <%end%>
</div>