<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/sign_in.css"/>
    </head>
    <body>
        <div class="outer-signin-container">
            <div class="outer-signin-left-column">
                <div class="outsign-leftcolumn-row outsign-firstrow">
                    <img class="outsign-twitterlogo" src="twitterlogo.png">
                </div>
                <div class="outsign-leftcolumn-row outsign-secondrow">
                    <span class="outsign-see-happening-label">See what's happening</span>
                </div>
                <div class="outsign-leftcolumn-row"></div>
                <div class="outsign-leftcolumn-row"></div>
            </div>
            <div class="outer-signin-right-column">
                <div class="outsign-rightcolumn-row">
                    <a class="outsign-innersigninlink" href="/login"><button class="outsign-emailuserbutton">Use email or username</button></a>
                </div>
                <div class="outsign-rightcolumn-row">
                    <div class="outsign-register-inquiry">
                        <span>Don't have an account? <a href="/register"><span class="outsign-signup-button">Sign up</span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="script.js"></script>
</html>