<head>
    <title>Nanotwitter | People</title>
</head>

<div class="ppl-main-container">
    <div class="ppl-left-col">
        <div class="ppl-search-upper-container">
            <div class="ppl-search-input-container">
                <input class="ppl-search-friends-input" placeholder="Search for friends"/>
                <button class="ppl-search-friends-button">Search</button>
            </div>
        </div>
        <div class="ppl-search-component-container">
            <%# <div class="ppl-search-result-component">
                <div class="ppl-image-container">
                    <img class="ppl-twitterlogo" src="twitterlogo.png"/>
                </div>
                <div class="ppl-friend-name-container">
                    <span>Random User</span>
                </div>
                <div class="ppl-button-container">
                    <button class="ppl-follow-button-type">Follow</button>
                    <button class="ppl-follow-button-type">Unfollow</button>
                </div>
            </div> %>
        </div>
    </div>
    <div class="ppl-right-col">
    </div>
</div>