html {
    font-size:100%;
}

.content {
    width: max-content;
    overflow: visible;
}

.followings {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}